{% for i in productlist %}
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="single-product-wrap mb-35">
        <div class="product-img product-img-zoom mb-15">
            <a href="/product-details/{{i.id}}/">
                <img src="{{i.image1.url}}" alt="">
            </a>
            <div class="product-action-2 tooltip-style-2">
                <button title="Wishlist" class="addtowishlist" data-id="{{i.id}}"><i class="icon-heart" data-id="{{i.id}}"></i></button>
                <button title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModal" class="quickview" data-id="{{i.id}}" data-from="modal"><i class="icon-size-fullscreen icons" data-id="{{i.id}}" data-from="modal"></i></button>
            </div>
        </div>
        <div class="product-content-wrap-2 text-center">
            <div class="product-rating-wrap">
                <div class="product-rating">
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star gray"></i>
                </div>
                <span>({{i.avg_rating}})</span>
            </div>
            <h3><a href="product-details.html">{{i.title}}</a></h3>
            <div class="product-price-2">
                <span>Rs. {{i.selling_price}}</span>
            </div>
        </div>
        <div class="product-content-wrap-2 product-content-position text-center">
            <div class="product-rating-wrap">
                <div class="product-rating">
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star gray"></i>
                </div>
                <span>(2)</span>
            </div>
            <h3><a href="product-details.html">{{i.title}}</a></h3>
            <div class="product-price-2">
                <span>Rs. {{i.selling_price}}</span>
            </div>
            <div class="pro-add-to-cart addtocart" data-id="{{i.id}}">
                <button title="Add to Cart"  data-id="{{i.id}}">Add To Cart</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
