.about-us-logo img {
  max-width: 250px;
}
#notificationmodal .modal-dialog {
  max-width: 500px;
  width: auto;
  margin-top:5%;
}
#notificationmodal .modal-dialog .modal-body {
  padding: 15px 20px;
}
#notificationmodal .modal-header {
  border: none;
  background-color: #4BB543;
  display: none;
}
#notificationmodal .modal-content {
  border: 5px solid #4BB543;
}
#notificationmodal .modal-content h3 {
  margin: 0;
  text-align: center;
}
.mobile-logo a img {
  max-width: 150px;
}
.contact-info-wrap .footer-logo a img{
  max-width: 150px;
}


.breadcrumb-area {
  padding: 20px 0;
}
.shop-area {
  padding-top: 60px;
}
