{% extends "app/base.html" %}
{% load static %}
{% block content %}

<style media="screen">
  .transparent-bar {
    position: relative;
  }
  .product-thumbnail img {
    max-width: 98px;
  }
</style>

        <div class="breadcrumb-area bg-gray">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li class="active">Checkout </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="checkout-main-area pt-120 pb-120">
            <div class="container">

                <div class="checkout-wrap pt-30">
                    <div class="row">
                        <form class="col-lg-7" id="checkoutform" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                            <div class="billing-info-wrap mr-50">
                                <h3>Billing Details</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>First Name <abbr class="required" title="required">*</abbr></label>
                                            <input type="text" name="fname" id="fname">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>Last Name <abbr class="required" title="required">*</abbr></label>
                                            <input type="text" name="lname" id="lname">
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="billing-info mb-20">
                                            <label>Phone <abbr class="required" title="required">*</abbr></label>
                                            <input type="text" name="phonenumber" id="phonenumber">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="billing-info mb-20">
                                            <label>Email Address <abbr class="required" title="required">*</abbr></label>
                                            <input type="text" name="email" id="email">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="billing-select mb-20">
                                            <label>Country <abbr class="required" title="required">*</abbr></label>
                                            <select id="selectedcountry">
                                                <option selected disabled>India</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Street Address <abbr class="required" title="required">*</abbr></label>
                                            <input class="billing-address" placeholder="House number and street name" type="text" name="addressline1" id="addressline1">
                                            <input placeholder="Apartment, suite, unit etc." type="text" name="addressline2" id="addressline2">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info mb-20">
                                            <label>Town / City <abbr class="required" title="required">*</abbr></label>
                                            <input type="text" name="city" id="city">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="billing-select mb-20">
                                            <label>State <abbr class="required" title="required">*</abbr></label>
                                            <select id="checkoutstate">
                                                <option selected>{{selectedstate.name}}</option>
                                                {% for i in all_states %}
                                                  <option >{{i.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="billing-info mb-20">
                                            <label>Postcode / ZIP <abbr class="required" title="required">*</abbr></label>
                                            <input type="text" name="pincode" value="{{selectedpincode}}" id="pincode">
                                        </div>
                                    </div>

                                </div>

                                <div class="additional-info-wrap">
                                    <label>Order notes</label>
                                    <textarea placeholder="Notes about your order, e.g. special notes for delivery. " name="ordernote" id="ordernote"></textarea>
                                </div>
                            </div>
                        </form>
                        <div class="col-lg-5">
                            <div class="your-order-area">
                                <h3>Your order</h3>
                                <div class="your-order-wrap gray-bg-4">
                                    <div class="your-order-info-wrap">
                                        <div class="your-order-info">
                                            <ul>
                                                <li>Product <span>Total</span></li>
                                            </ul>
                                        </div>
                                        <div class="your-order-middle">
                                            <ul>
                                                {% for i,j,k in cart %}
                                                <li>{{i.title}} X {{j}}  <span>Rs. {{k}} </span></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="your-order-info order-subtotal">
                                            <ul>
                                                <li>Subtotal <span>Rs. {{subtotal}} </span></li>
                                            </ul>
                                        </div>

                                        <div class="your-order-info order-shipping">
                                            <ul>
                                                <li>Shipping <p id="shippingcharge">{% if shippingcharge == 0 %} Select State {% else %}Rs. {{shippingcharge}}{% endif %}</p>
                                                </li>
                                            </ul>

                                        </div>

                                        {% if discount != 0 %}
                                        <div class="your-order-info order-shipping">
                                            <ul>
                                                <li>Coupon Discount <p>- Rs. {{discount}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                        {% endif %}
                                        <div class="your-order-info order-total">
                                            <ul>
                                                <li>Total <span id="grandtotal">Rs. {{total}} </span></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="Place-order">
                                    <a id="continuecheckout">Continue</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




{% endblock %}
